version: "3.9"

services:
  api:
    build: .
    container_name: medical-assistant-api
    ports:
      - "8000:8000"
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./models:/app/models
    restart: unless-stopped
